@import '../../../public/css/colors';
.detailpage{
    padding-bottom: 150px;
    text-align: center;
}
// .search{
//     margin-top: 30px ;
// }

.serachicon{
    background: #fff;
    border-radius: none;
    color: #222;
    text-align: center;
}
.searchbar{
    width: 80%;
    height: 40px;
    padding: 12px;
}
.searchbar:focus-within{
    // transition: all .5s;
    border-radius: 10px;
}

.heading1{
    padding-top: 10%;
    color: $head;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.3;
    
}