@import '../../../public/css/colors'; 

.con1{
    padding: 0 ;
}
.section1{
    background-image: $theme;
    
}
.heading{
    padding-top: 40%;
    color: $head;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.3;
    
}
.para1{
    text-align: center;
    line-height: 1.3;
    color: $head;
    font-weight: 500;
    font-family: 'ubuntu';
}
.button{
    text-align: center;
    margin-left: 200px;
}

.row{
    margin: 0;
}
.card-title{
    color: $card;
    font-size: 20px;
    font-weight: 900;
}
.card-text{
    color: $card;
}
.heading2{
    text-align: center;
    color: $card;
    
    font-weight: 900;
}

.imageside{
    margin-top: 50px;
    width: 100%;
    
}
.text-top{
    margin: -40px 0 0 40px ;
    
}
.imgtopic{
    width: 100%;
    padding: 10px;
}
.subtopic{
    text-align: center;
    color: $subtopic;
    font-weight: bold;
    transition: all .5s ;
}

.left-heading{
    
    padding-top: 10%;
    color: $card;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.3;
    
}
p{
    color: $card;
}


