@import '../../../public/css/colors';

.linktitle{
    background-image: $theme;
    padding: 80px;
    color: $head;
}
.linkhead{
    font-size: 3.5rem!important;
    font-weight: 700;
    font-family: sans-serif;
}