.linktitle{
    background-image: linear-gradient(#6274ff,#b956ff);
    padding: 80px;
    color: #fff;
}
.linkhead{
    font-size: 3.5rem!important;
    font-weight: 700;
    font-family: sans-serif;
}