.serachicon{
    background: #fff;
    border-radius: none;
    color: #222;
    text-align: center;
}
.searchbar{
    width: 80%; 
    padding: 12px;
    border: none;
    height: 50px;
}

.searchbar:focus-within, .searchbar:focus{
    // transition: all .5s;
   border: none!important;
}

.searchbarcontainer{
    height: 54px;
    background : #fff;
    align-content: 'center';
    border-radius: 5px;
    // transform: translateY(20px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    
    ul{
        background : #fff;
        position: relative;
        z-index: 5!important;
        list-style: none;
        border: 1px black;
        
        li{
            padding: 30px;
            
        }
    }
}
