@import '../../../public/css/colors';

.bg{
    background: $subtopic;
    box-shadow: 5px 4px 16px 0 $subtopic;
}

.navbar-brand{
    font-size: 1.5rem!important;
    font-weight: 900;
    color: $head!important;
}
.nav-link{
    color: $head!important;
    font-size: 1.2rem;
    font-weight: 900;
    padding-right: 1.5rem!important;
}
.dropdown-menu{
    background-color: $subtopic;

    .dropdown-item:hover{
        background-color: $sublink;
    }
}

.navdrop{
    width: 100%;
}