.bg{
    background: #6274ff;
    box-shadow: 5px 4px 16px 0 #6274ff;
}

.navbar-brand{
    font-size: 1.5rem!important;
    font-weight: 900;
    color: #fff!important;
}
.nav-link{
    color: #fff!important;
    font-size: 1.2rem;
    font-weight: 900;
    padding-right: 1.5rem!important;
}
