#alert
{   
   
    
    transition-property: right, left;
    transition-duration: 2s;
    -webkit-transition-property: right, left; /* Safari */
    -webkit-transition-duration: 2s; /* Safari */
    position:absolute;
}
#alert:hover
{
   right:0px;
}