.footer{
    background: #4255a4;
    color: #fff;
    
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 900;
}
.just{
    justify-content: center;
    padding: 100px 0 100px 0;
}
    
i{
    background-color: #6274ff;
    border-radius: 50%;
    color: #fff;
    padding: 10px ;
    margin: 5px;
}
a,a:hover{
    text-decoration: none;
    color: #fff;
}