@import '../../../public/css/colors';
.footer{
    background: $card;
    color: $head;
    
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 900;
}
.just{
    justify-content: center;
    padding: 100px 0 100px 0;
}
    
i{
    background-color: $theme1;
    border-radius: 50%;
    color: $head;
    padding: 10px ;
    margin: 5px;
}
a,a:hover{
    text-decoration: none;
    color: $head;
}